

body{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

section image{
    position: relative; 
     max-width: 100%;
        height: auto; 
     color: hsl(228, 45%, 44%);
     padding: 20px;
     top: 0;
     left: 0;
    
      }
h1{
    text-align: center;
    font-family: Arial;
    font-weight: bold;


}

p{
    text-align: center;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    top: 0;
    left: 0;
   
}
/* Responsive style */

@media screen and ( max-width:1400px){

}
  
@media screen and ( max-width:375px){

}
  